In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [4]:
df = pd.read_csv('/workspaces/Amozon_Sales_Dataset/Amazon Sale Report (1).csv', index_col = 'index')
df.head()

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,fulfilled-by,New,PendingS
index,,,,,,,,,,,,,,,,,,,,
0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False,Easy Ship,NaN,NaN
1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False,Easy Ship,NaN,NaN
2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True,NaN,NaN,NaN
3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False,Easy Ship,NaN,NaN
4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False,NaN,NaN,NaN

In [5]:
df.tail()

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,fulfilled-by,New,PendingS
index,,,,,,,,,,,,,,,,,,,,
128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,INR,517.0,HYDERABAD,TELANGANA,500013.0,IN,False,NaN,NaN,NaN
128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,T-shirt,M,Shipped,1,INR,999.0,GURUGRAM,HARYANA,122004.0,IN,False,NaN,NaN,NaN
128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,Blazzer,XXL,Shipped,1,INR,690.0,HYDERABAD,TELANGANA,500049.0,IN,False,NaN,NaN,NaN
128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,T-shirt,XS,Shipped,1,INR,1199.0,Halol,Gujarat,389350.0,IN,False,NaN,NaN,NaN
128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,T-shirt,S,Shipped,1,INR,696.0,Raipur,CHHATTISGARH,492014.0,IN,False,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128976 entries, 0 to 128974
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Order ID            128976 non-null  object
 1   Date                128976 non-null  object
 2   Status              128976 non-null  object
 3   Fulfilment          128976 non-null  object
 4   Sales Channel       128976 non-null  object
 5   ship-service-level  128976 non-null  object
 6   Category            128976 non-null  object
 7   Size                128976 non-null  object
 8   Courier Status      128976 non-null  object
 9   Qty                 128976 non-null  int64
 10  currency            121176 non-null  object
 11  Amount              121176 non-null  float64
 12  ship-city           128941 non-null  object
 13  ship-state          128941 non-null  object
 14  ship-postal-code    128941 non-null  float64
 15  ship-country        128941 non-null  object
 16  B2B                 128976 non-null  bool
 17  fulfilled-by        39263 non-null   object
 18  New                 0 non-null       float64
 19  PendingS            0 non-null       float64
dtypes: bool(1), float64(4), int64(1), object(14)
memory usage: 19.8+ MB

In [7]:
df.drop(['New','PendingS'], axis = 1, inplace = True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128976 entries, 0 to 128974
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Order ID            128976 non-null  object
 1   Date                128976 non-null  object
 2   Status              128976 non-null  object
 3   Fulfilment          128976 non-null  object
 4   Sales Channel       128976 non-null  object
 5   ship-service-level  128976 non-null  object
 6   Category            128976 non-null  object
 7   Size                128976 non-null  object
 8   Courier Status      128976 non-null  object
 9   Qty                 128976 non-null  int64
 10  currency            121176 non-null  object
 11  Amount              121176 non-null  float64
 12  ship-city           128941 non-null  object
 13  ship-state          128941 non-null  object
 14  ship-postal-code    128941 non-null  float64
 15  ship-country        128941 non-null  object
 16  B2B                 128976 non-null  bool
 17  fulfilled-by        39263 non-null   object
dtypes: bool(1), float64(2), int64(1), object(14)
memory usage: 17.8+ MB

# Eksik Verilere Göz Atalım
pd.isull esik erileri verir

In [9]:
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Category                  0
Size                      0
Courier Status            0
Qty                       0
currency               7800
Amount                 7800
ship-city                35
ship-state               35
ship-postal-code         35
ship-country             35
B2B                       0
fulfilled-by          89713
dtype: int64

In [10]:
df.shape[0] #satır sayıını direkt alır

128976

In [11]:
df.shape[1] # sütun sayısını direkt alır

18

In [12]:
df[['currency','Amount']]

       currency   Amount
index
0           INR   647.62
1           INR   406.00
2           INR   329.00
3           INR   753.33
4           INR   574.00
...         ...      ...
128970      INR   517.00
128971      INR   999.00
128972      INR   690.00
128973      INR  1199.00
128974      INR   696.00

[128976 rows x 2 columns]

In [13]:
df['currency'].unique()

array(['INR', nan], dtype=object)

In [14]:
#currency sütunu full INR değeri içerdiğinden eksik verileri INR ile doldurabilirim.
df['currency'].fillna('INR', inplace=True)

/tmp/ipykernel_2686/567087715.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['currency'].fillna('INR', inplace=True)

In [15]:
df['Amount'].describe()

count    121176.000000
mean        648.562176
std         281.185041
min           0.000000
25%         449.000000
50%         605.000000
75%         788.000000
max        5584.000000
Name: Amount, dtype: float64

In [16]:
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Category                  0
Size                      0
Courier Status            0
Qty                       0
currency                  0
Amount                 7800
ship-city                35
ship-state               35
ship-postal-code         35
ship-country             35
B2B                       0
fulfilled-by          89713
dtype: int64

In [20]:
amountMedian = df['Amount'].median()
amountMedian

np.float64(605.0)

In [24]:
df['Amount'].fillna(amountMedian, inplace = True)
df['Amount'].isnull().sum()

np.int64(0)

In [25]:
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Category                  0
Size                      0
Courier Status            0
Qty                       0
currency                  0
Amount                    0
ship-city                35
ship-state               35
ship-postal-code         35
ship-country             35
B2B                       0
fulfilled-by          89713
dtype: int64

In [29]:
df[["ship-city","ship-state","ship-country","ship-postal-code"]].dtypes

ship-city            object
ship-state           object
ship-country         object
ship-postal-code    float64
dtype: object

In [30]:
def modAlma(sütun_ismi):
    return df[sütun_ismi].mode()[0]

In [38]:
ship_city_mod = modAlma("ship-city")
ship_state_mod = modAlma("ship-state")
ship_country_mod = modAlma("ship-country")

In [39]:
print(ship_city_mod,ship_state_mod,ship_country_mod)

BENGALURU MAHARASHTRA IN

In [ ]:
def str_eksik_veri_doldurma(sütun_ismi,method):
    df[sütun_ismi].fillna(ship_city_mod,inplace = True)

In [40]:
str_eksik_veri_doldurma("ship-city",ship_city_mod)
str_eksik_veri_doldurma('ship-state',ship_state_mod)
str_eksik_veri_doldurma('ship-country',ship_country_mod)

In [42]:
#ship-postal-code bir id olduğu için sayısal bir anlam taşımdığı için buraı string tipine dönüştürücez.
df['ship-postal-code'] = df['ship-postal-code'].astype('str')
df['ship-postal-code'].dtype

dtype('O')

In [44]:
ship_postal_code_mod = modAlma8sütun_ismi = ('ship-postal-code')
str_eksik_veri_doldurma(sütun_ismi='ship-postal-code', method=ship_postal_code_mod)

In [45]:
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Category                  0
Size                      0
Courier Status            0
Qty                       0
currency                  0
Amount                    0
ship-city                 0
ship-state                0
ship-postal-code          0
ship-country              0
B2B                       0
fulfilled-by          89713
dtype: int64

In [60]:
#fulfilled-by sütunund doldurulamayacak kadar çok eksik veri olduğunda bu sütunu kaldırıyoruz.
df.drop('fulfilled-by', axis =1, inplace = True)

KeyError: "['fulfilled-by'] not found in axis"